// rem fallback - credits: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size){
    font-size: $size;
    font-size: calculateRem($size);
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html { font-size: 100%; }

html, body { height: 100%; }    

textarea {
  font-size: 18px;
  border-left: 1px solid #F9E666;
  border-right: 1px solid #F9E666;
  box-shadow: 0px 0px 10px #F9E666;
  
}

.title {
  text-align: center;
}

.container {
  left: 15px;
  right: 15px;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.editor-container {
  float: left;
}

.display {
  border-left: 1px solid #83F966;
  border-right: 1px solid #83F966;
  box-shadow: 0px 0px 10px #83F966;
}





















